<div class="container">
  <h4>Medical History</h4>
  <br>
  <%= render 'form', med_history: @med_history %>
  <br>
  <%= link_to 'Back', med_histories_path, class: 'waves-effect waves-light btn' %>
  <br>
</div>