<div class="container">
  <h1>Editing Doctor</h1>

  <%= render 'form', doctor: @doctor %>
  <%= link_to 'Show', @doctor, class: 'waves-effect waves-light btn-small' %>

  <%= link_to 'Back', doctors_path, class: 'waves-effect waves-light btn-small' %>
</div>