/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui.theme
 *= require fullcalendar/dist/fullcalendar
 *= require materialize-css/dist/css/materialize
 *= require materialize-css/sass/materialize
 *= require_tree .
 *= require_self
 */

// @import "materialize";


// a {
//   :hover {
//     color: #666;
//   }
// }

// .active {
//   background-color: white;
//   color: #666;
// }
.row .col .tooth {
  padding: 0 5px;
}

.modal {
  width: 77%;
}

.material-icons.top_navbar {
  font-size: 36px;
  // padding: 23px 15px;
}

.padl{
  padding-left: 150px ;
}
.zouttwo{
  zoom: 0.9;

  zoom: 90%;

}
.zout {
  zoom: 0.5;
  /* Other non-webkit browsers */
  zoom: 50%;
  /* Webkit browsers */
}

// nav ul a {
//   padding: 23px 15px;
// }

.top-icon {
  color: white;
}
.padleft{
  padding-left: 43px;
}
.calendar {
  padding: 40px;
}

/* .col {
  border: 0.5px solid red;
} */

.marginbtm{
  margin: 10px 150px;
}

.select{
  display: block !important;
}
.med_history_t1 {
 width: 76px;
}
.med_history_t2 {
  width: 76px;
}
body {
  background-color: #90caf9;
}
